<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="project.squad.Listener.TestListener"></listener>
	</listeners>

	<test thread-count="2" parallel="classes"
		name="LoginValidationTest">
		<classes>
			<class name="project.squads.admission.tests.LoginTest" />
			<class name="project.squads.admission.tests.UserValidationTest" />
		</classes>
	</test> <!-- Test -->

	<test name="FormSubmissionAndDownloadFormTest">
		<classes>
			<class name="project.squads.admission.tests.FormSubmissionTest" />
		</classes>
	</test> <!-- Test -->

	<test name="SampleTests">
		<classes>
			<class name="project.squads.sample.test.DemoTest" />
			<!-- <class name="project.squads.admission.tests.FormSubmissionTest" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
