<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="project.squads.admission.tests.LoginTest"/>
      <class name="project.squads.admission.tests.FormSubmissionTest"/>
      <class name="project.squads.admission.tests.UserValidationTest"/>
      <class name="project.squads.sample.test.DemoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
